# Ignore structural folders
plugins/Demo
plugins/index.html
config/*
!config/.keep
upload/*
!upload/.keep

# Ignore IDE configuration folder
.idea
.vscode

# Ignore configuration files
.env
docker-compose.override.yml

# Ignore system files
.DS_Store
