DB_PASSWORD=secret
ADMIN_PASSWORD=secret

# The following env variables are used only for LimeSurvey initialization.

# Changing them afterward will have no effect or could lead to the application
# not running correctly.
# You can change configuration in "/var/www/html/application/config/config.php".

# DB_USERNAME=limesurvey
# ADMIN_USER=admin
# ADMIN_PASSWORD=secret

# BASE_URL=
# PUBLIC_URL=

# ENCRYPT_KEYPAIR=
# ENCRYPT_PUBLIC_KEY=
# ENCRYPT_SECRET_KEY=
# ENCRYPT_NONCE=
# ENCRYPT_SECRET_BOX_KEY=

# MYSQL_USER=limesurvey
# MYSQL_DATABASE=limesurvey
# MYSQL_PASSWORD=secret
# MYSQL_ROOT_PASSWORD=secret

# For more env variables, see:
#  - https://hub.docker.com/r/martialblog/limesurvey
#  - https://hub.docker.com/_/mariadb
