# --------------------------------------------
# Environment variables for the application
# --------------------------------------------

LIMESURVEY_DB_HOST=lime-db
LIMESURVEY_DB_USER=limesurvey
LIMESURVEY_DB_PASSWORD=secret
LIMESURVEY_ADMIN_USER=admin
LIMESURVEY_ADMIN_PASSWORD=secret
LIMESURVEY_TABLE_PREFIX=lime_

# --------------------------------------------
# Environment variables for the database
# --------------------------------------------

MYSQL_USER=limesurvey
MYSQL_DATABASE=limesurvey
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=secret
MARIADB_AUTO_UPGRADE=1

# For more env variables, see:
#  - https://hub.docker.com/r/acspri/limesurvey
#  - https://hub.docker.com/_/mariadb
